@charset "UTF-8";
/**
 * 
 * @authors Peng Zhu (iszhupeng@live.cn)
 * @date    2018-03-12 16:41:30
 * @version $Id$
 */

body {
    background-color: #EEE;
}
header, footer {
    width: 100%;
    background-color: rgba(217, 218, 220, 1);
    ;
}
header {
    height: 100px;
    /*    position: fixed;
    top: 0px;*/
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0px;
    z-index: 99999;
}
.Grid {
    margin: 0 auto 100px auto;
    width: 700px;
    display: flex;
    flex-direction: column;
}
.Grid-row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.Grid-cell {
    margin: 10px;
    flex: 1;
    text-align: center;
}
.Grid-cell.u-full {
    flex: 0 0 100%;
}
.Grid-cell.u-1of2 {
    flex: 0 0 50%;
}
.Grid-cell.u-1of3 {
    flex: 0 0 33.3333%;
}
.Grid-cell.u-1of4 {
    flex: 0 0 25%;
}
.Grid-cell img {
    margin: auto;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 5px;
    background-color: rgba(232, 232, 232, 0.9);
}
.Grid-cell span {
    font: bold 12px/30px arial, sans-serif;
}
.qrcode {
    /*display: flex;*/
/*    align-items: flex-start;
    width: 700px;
    height: 200px;
*/    /*background-color: red;*/
    position: fixed;
    top: 10px;
    pointer-events: none;
}
.qrcode-figure {
    border: 1px solid #d9dadc;
    text-align: center;
    display: block;
    height: auto!important;
    margin-left: 1000px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.66);
}
.qrcode img {
    width: 150px;
}
.qrcode p {
    font-size: 14px;
    line-height: 20px;
}
.qrcode-body {
    flex: 1;
}
.list {
    text-align: left;
}

.list li{
    font: bold 15px/20px arial, sans-serif;
}