body
{
    font-family: 'Trebuchet MS', Helvetica, Sans-Serif;

    text-align: center;
}
#jQ-menu ul
{
    list-style-type: none;
}
a
{
    line-height: 24px;

    display: inline;

    height: auto;

    text-decoration: none;
    word-wrap: break-word ;
    word-break: break-all;
}

#jQ-menu a,
#jQ-menu li
{
    text-decoration: none;

    color: gray;
    background-color: #fff;
}
#jQ-menu li  ul
{
    display: none;

    background-color: #f6f420;
}

#jQ-menu ul
{
    padding-left: 4px;
}
.nav
{

    text-align: left;
}
.f_name
{
    font-weight: bold;
    color: red;
}